* {
  color: white;
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.form-inp {
  max-width: 450px;
  border-radius: 5px;
  background-color: grey;
}

.form-btn {
  background-color: aliceblue;
  color: #61dafb;
}


.page {
  background-color: black;

}

.inpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: black;
}

button {
  color: #7703fc;
}


#inp-cre {
  color: black;
}

.th {
  display: flex;
  background-color: rgba(102, 203, 250, 0.4);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

input {
  color: black;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: rgba(78, 242, 159, 0.4);
  border-radius: 10px;
  margin: 10px;
  align-self: stretch;
}

.thread-title {
  flex: 1;
}

.thread-title > a {
  text-decoration: none;
}

#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}



#pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  align-items: center;
}

.page {
  align-self: stretch;
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

.thread-control {
  margin: 0px 5px;
}

#create-th-btn {
  display: flex;
  background-color: rgb(47, 195, 214);
  vertical-align: middle;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

a.active > svg > path {
  color: rgb(41, 176, 194);
}

#create-th-btn > svg {
  display: block;
  margin: auto;
}

#search {
  display: flex;
  padding: 10px;
}

#goto {
  flex: 1;
  margin-right: 10px;
}

#me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#thread-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#connections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#replies {
  align-self: stretch;
  background-color: rgba(102, 203, 250, 0.4);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
